.profile-img{
  border: 2px;
  border-radius: 50%;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.name{
  color: rgb(248, 241, 241);
  text-transform: capitalize;
  font-family: Chalkduster, fantasy;
  text-align: center;
  padding-bottom: 30px;
}

.top-block{
  color: rgb(248, 241, 241);
  font-family: Chalkduster, fantasy;
  padding: 10px;
  margin-left: 70%;
  display: block;
}

.resume-link{
  padding: 20px;
  color:  rgb(248, 241, 241);
  text-decoration: none;
}

.contact-link{
  border: rgb(248, 241, 241);
  border-style: solid;
  padding: 15px;
}

.resume-header{
  border-bottom: solid;
  border-color: rgb(248, 241, 241);
  border-bottom-width: 4px;
  padding-bottom: 30px;
}

.brief-about{
  color: rgba(109, 33, 103, 0.534);
  font-family: Chalkduster, fantasy;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
}

.regular-text{
  font-family: Chalkduster, fantasy;
  margin-left: 30px;
  margin-right: 90px;
}

.top-of-page{
  background-image: url("/code1.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 800px;
}